.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.counter {
  background-color: rgb(227, 62, 227);
  color: black;
  padding: 20px;
  border: 3px solid goldenrod;
  border-radius: 20px;
  width: 600px;
  margin: 20px auto;
  max-width: 100%;
}

.btn {
  padding: 10px 15px;
  border-radius: 12px;
  border: 0;
  font-size: 18px;
}

.increase {
  color: white;
  background-color: green;
  margin: 5px;
}

.decrease {
  color: white;
  background-color: red;
  margin: 5px;
}